$primary-color: #f4b429;
$secondary-color: #49a987;
$pink-color: #fef7e9;
$black-color: #333333;
$grey-color: #c6c4c4;
$blue-color: #33475b;
$dm-serif-display: 'DM Serif Display', serif;
$dm-sans: 'DM Sans', sans-serif;
$kristi: 'Kristi', cursive;