@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Kristi&display=swap');
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import 'node_modules/bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Kristi', cursive; */